.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px; /* Incrementa el espacio del contenedor */
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 10px; /* Reduce el padding */
    background-color: #f0f4f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    min-height: 500px;
}

.chatBox {
    flex: 1;
    overflow-y: auto;
    padding: 8px; /* Reduce el padding para aprovechar el espacio */
    margin-bottom: 8px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    min-height: 200px;
}

.botMessage,
.userMessage {
    padding: 8px; /* Reduce padding */
    margin-bottom: 6px;
    border-radius: 8px;
    max-width: 75%; /* Ajusta el ancho de los mensajes */
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
}

.botMessage {
    background-color: #e8eaf6;
    align-self: flex-start;
    color: #333;
}

.userMessage {
    background-color: #5ab4f0;
    color: white;
    align-self: flex-end;
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 8px; /* Reduce el espacio entre input y botones */
    margin-top: 6px; /* Reduce el espacio superior */
}

.input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.input:focus {
    outline: none;
    border-color: #5ab4f0;
}

.chatContainer .sendButton {
    padding: 8px 16px; /* Reduce el tamaño del botón */
    border-radius: 6px;
    border: none;
    background-color: #022e03;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-size: 0.9rem; /* Reduce el tamaño de la fuente del botón */
}

.chatContainer .sendButton:hover {
    background-color: #016f01;
    transform: scale(1.05);
}

.productData {
    margin-top: 10px;
    font-size: 0.9rem;
}
