@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bellefair&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Elimina márgenes y padding del body y html */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Evita el desplazamiento horizontal si es necesario */
}

/* Contenedor Principal con fondo de gradiente */
.DashboardContainer {
  background: linear-gradient(to bottom, #f0f4f8, #ffffff); /* Gradiente de azul claro a blanco */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

/* Título en la esquina superior */
.DashboardTitle {
  font-size: 2.2rem;
  font-weight: bold;
  color: #2d3748;
  margin-bottom: 20px;
  font-family: 'Abril Fatface', sans-serif;
}

/* Contenedor de botones como tarjetas en 3 columnas */
.ButtonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  height: 70%;
  justify-content: center;
  align-items: stretch;
}

/* Tarjetas del Dashboard con gradiente */
.DashboardCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #5ab4f0, #6cd1e7); /* Gradiente en tonos frescos de azul */
  color: #f7fafc;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, background-color 0.3s;
  cursor: pointer;
  text-align: center;
  height: 100%;
}

.DashboardCard h2 {
  margin-top: 10px;
}

/* Efectos de hover y active */
.DashboardCard:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #6cd1e7, #5ab4f0); /* Cambia el gradiente al pasar el mouse */
}

.DashboardCard:active {
  background: #3992b1; /* Color sólido al hacer clic */
}

/* Apilar tarjetas y ocultar título en pantallas pequeñas */
@media (max-width: 768px) {
  .ButtonContainer {
      grid-template-columns: 1fr;
  }
}
